:root {
    --main-color: #007bff; 
    --alert-color: #cce5ff;
    --background-color: #f8f9fa; 
    --text-color: #212529;
}

.theme-dark {
    --main-color: #343a40;
    --alert-color: #28333f;
    --background-color: #212529;
    --text-color: #f8f9fa;
}

.theme-light {
    --main-color: #f8f9fa;
    --alert-color: #eaeaea;
    --background-color: #ffffff;
    --text-color: #212529;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--text-color);
}

.alert-primary {
    background-color: var(--alert-color);
    border-color: var(--alert-color);
    color: var(--text-color);
}

.card {
    background-color: var(--background-color);
}

.modal-content {
    color: #212529;
}